<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Disciplina</title>
    <link rel="stylesheet" type="text/css" href='static/Disciplina.css'/>
    <link rel="stylesheet" type="text/css" href='static/site.css'/>
    <link rel="shortcut icon" href='static/logo.jpg'/>
</head>
<body>
        <img src='static/impacta.png'/>
        <a href="HomePage.html"  class="letra">Home</a>
        <h1 class="cordisciplina">Disciplinas</h1>
        <li>Linguagem De Programação</li>
        <li>Linguagem SQL</li>
        <li>TecWeb</li>
        <li>Gestão De Projetos</li>
        <li>Ambiente De Desenvolvimento</li>
        <li>Engenharia De Software</li>

</body>
</html>